<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="StrobifySetup" Language="1033" Version="1.0.0.0" Manufacturer="RWitanski" UpgradeCode="13b8ff16-99af-440f-8f7e-afe5ac3ba208">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes"/>

		<Feature Id="ProductFeature" Title="StrobifySetup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Strobify" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <Component Id="ProductComponent" Guid="eb742a0b-a603-4f8b-895c-174075931889">
        <File Source="$(var.Strobify.TargetPath)" />
        <File Source="$(var.Strobify.TargetDir)" Name="Strobify.exe.config" />
        <File Source="$(var.Strobify.TargetDir)" Name="SlimDX.dll" />
        <File Source="$(var.Strobify.TargetDir)" Name="MahApps.Metro.xml" />
        <File Source="$(var.Strobify.TargetDir)" Name="MahApps.Metro.dll" />
        <File Source="$(var.Strobify.TargetDir)" Name="GalaSoft.MvvmLight.xml" />
        <File Source="$(var.Strobify.TargetDir)" Name="GalaSoft.MvvmLight.Platform.xml" />
        <File Source="$(var.Strobify.TargetDir)" Name="GalaSoft.MvvmLight.Platform.dll" />
        <File Source="$(var.Strobify.TargetDir)" Name="GalaSoft.MvvmLight.Extras.xml" />
        <File Source="$(var.Strobify.TargetDir)" Name="GalaSoft.MvvmLight.Extras.dll" />
        <File Source="$(var.Strobify.TargetDir)" Name="GalaSoft.MvvmLight.dll" />
        <File Source="$(var.Strobify.TargetDir)" Name="ControlzEx.dll" />
        <File Source="$(var.Strobify.TargetDir)" Name="CommonServiceLocator.dll" />
        <File Source="$(var.Strobify.TargetDir)" Name="System.Windows.Interactivity.dll" />
        <File Source="$(var.Strobify.TargetDir)" Name="WindowsInput.dll" />
        <File Source="$(var.Strobify.TargetDir)" Name="WindowsInput.xml" />
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>
